<div class="mainApplicationList">
    <%- include('mainApplication.ejs') %>
    <%- include('mainApplication.ejs') %>
    <%- include('mainApplication.ejs') %>
    <%- include('mainApplication.ejs') %>
    <%- include('mainApplication.ejs') %>
    <%- include('mainApplication.ejs') %>
    <%- include('mainApplication.ejs') %>
</div>