<!doctype html>
<html lang="ukr">
<%- include('head.ejs') %>
<body>
    <%- include('infoPage/headerInfo.ejs') %>
    <%- include('infoPage/textInfo.ejs') %>
    <%- include('controlPanel.ejs') %>
    <%- include('toast.ejs') %>
    <%- include('frontScript.ejs') %>
</body>
</html>