
<!doctype html>
<html lang="ukr">
<%- include('head.ejs') %>
<body>
    <%- include('mainPage/headerMain.ejs') %>
    <%- include('mainPage/applicationList.ejs') %>
    <%- include('controlPanel.ejs') %>
    <%- include('confirmation.ejs') %>
    <%- include('toast.ejs') %>
    <%- include('frontScript.ejs') %>
</body>
</html>