<!doctype html>
<html lang="en">
<%- include('head.ejs') %>
<body>
    <%- include('profilePage/profileHeader.ejs') %>
    <div class="CenteredCard">
        <%- include('profilePage/profileCard.ejs') %>
    </div>
    <%- include('profilePage/merged&notList.ejs') %>
    <%- include('controlPanel.ejs') %>
    <%- include('confirmation.ejs') %>
    <%- include('toast.ejs') %>
    <%- include('frontScript.ejs') %>
</body>
</html>