<div class = "container carousel">

    <section class="oneScroll">
        <div class = "item">
            <p class="pointer left">Ті, що виконуються →</p>
            <%- include('applicationWaiting.ejs') %>
            <%- include('applicationWaiting.ejs') %>
            <%- include('applicationWaiting.ejs') %>
            <%- include('applicationWaiting.ejs') %>
        </div>
    </section>
    <section class="twoScroll">
        <div class = "item">
            <p class="pointer right">← Ті, що в пошуку</p>
            <%- include('applicationInProgress.ejs') %>
            <%- include('applicationInProgress.ejs') %>
            <%- include('applicationInProgress.ejs') %>
        </div>
    </section>
</div>